ul{
    padding: 0;
    margin-bottom: 0;
}
ul li{
    border: 1px solid grey;
    list-style: none;
}
h1{
    text-align: center;
}
body{
    margin-top: 100px;
    padding: 3px;
}
input{
    border: none;
}